{% extends 'home/base.html' %}
{% load static %}

{% block desgin %}
<link rel="stylesheet" href="{% static 'home/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="global-container">
    <div class="reg-img" data-aos="fade-up">
        <a href="{% url 'home' %}"><img src="{% static 'home/images/logoimg2.png' %}" alt=""></a>
        <h2>Follow Your Dreams</h2>
    </div>
    <div class="card login-form" data-aos="fade-up">
        <div class="card-body">
            <h1 class="card-title text-center"><i class="fa-solid fa-user-graduate"></i>  Register Cranfield </h1>
            <div class="card-text">
                {% if messages %}

                {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %} alert-dismissible  logfont" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                {% endif %}

                <form method="POST" novalidate>
                    {% csrf_token %}

                    {% for fm in form %}
                    <span class="form-label">{{fm.label_tag}}</span>
                    <span class="form-fm form-control">{{fm}}</span> <br>
                        {% for error in fm.errors %} 
                            <span class="error">{{error}}</span><br> <br>
                        {% endfor %}
                    {% endfor %}


                    <a href="#" style="float:right;font-size:12px;">Forgot password?</a>

                    <button type="submit" class="btn btn-primary btn-block mt-2 sign">Sign in</button>

                    <div class="sign-up mt-2 log">
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block mrjava %} 
<script src="{% static 'home/js/register.js' %}"></script>
{% endblock mrjava %}


