
.back-img img {
    width: 100%;
}
html {
    font-size: 62.5%;
}


.about-main{
    background-color:  #f1f1f1;
    padding: 3rem 0;
}

.uni{
    background-color: #f1f1f1;
    margin-bottom: 5rem;
    padding: 8rem 0 ;
    width: 100%;
}
.uni h1{
    font-weight: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: #271e3d;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}
.uni-txt{
    padding: 0 12rem;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 2rem;
}
.about-image img{
    height: 50.8rem;
    width: 56.8rem;
}
.about-img-txt{
    display: flex;
    padding: 0 8rem;
    padding-bottom: 12rem;
}
.about-text p{
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.para{
    padding-left: 7rem;
}
.para1{
    padding-right: 7rem;
}

.heading{
    display: flex;
    padding-bottom: 4rem;
    font-size: 3rem;
}
.lft{
    justify-content: center;
}
.about-img-txt1{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 8rem;
    margin-bottom: 5rem;
}


.small-line2{
    height: 0.5rem;
    width: 3rem;
    background-color: #005d8f;
    margin: 2rem auto;
}



@media(max-width:800px){
    .back-img img {
        width: 100%;
        height: auto;
    }
    .uni{
        padding: 6rem 0;
    }
    .uni-txt{
        padding: 0 2rem;
    }
    .uni h1{
        font-size: 2rem;
        padding: 0 9rem;
        text-align: center;
    }
    .heading{
        padding-top: 5rem;
        align-items: center;
    }
    .about-image img{
        height: auto;
        width: 100%;
        justify-content: center;
    }
 
    .about-img-txt{
        flex-direction: column;
        padding: 0 3rem;
    }
    .about-img-txt1{
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
    }
    .para{
        padding-left: 0rem;
    }
    .para1{
        padding-right: 0rem;
    }
    .about-img-txt{
        padding: 0 auto;
    }
    .heading{
        text-align: center;
    }
    .about-text{
        margin-bottom: 4rem;
    }
    .lft{
        padding-left: 0;
    }
  
}