body{
    background-color: #f1f1f1;
}

.msg{
    display: flex;
    width: 90%;
    margin: 4rem auto;
}

.vcimg{
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vcimg h1{
    margin-top: 2rem;
}

.vcimg img{
    height: 20rem;
}

.vcpara p{
    font-size: large;
}
.vcmsg-img{
    position: relative;
    text-align: center;
}
#effect{
    position: absolute;
    margin-left: 10rem;
    bottom: 5rem;
    font-size: 5rem;
    color: #271e3d;
    /* font-weight: bold; */
}
.vcmsg-img img{
    width: 100%;
}


@media(max-width:800px){
    .msg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .vcimg img{
        margin: 2rem 0;
    }
    .vcimg{
        margin-right: 0;
    }
    .vcimg h1{
        font-weight: bold;
        margin-bottom: 2rem;
    }
    #effect{
        font-size: 2rem;
        margin-left: 2rem;
        bottom: 2rem;
        font-weight: bold;
    }
}

