{% extends 'student/base.html' %}
{% load static %}

{% block desgin %}
<link rel="stylesheet" href="{% static 'student/css/fine.css' %}">
{% endblock %}

{% block content %}
<div class="student-fine">
    <h1 class="stu-fine">Student Fine</h1>
    {% if fines %}
    <table>
        <tr>
            <th class="heading">Reason</th>
            <th class="heading">Amount</th>
            <th class="heading">Status</th>
            <th class="heading">Last Submission</th>
        </tr>
        {% for fine in fines %}
        <tr>
            <td>{{fine.reason|capfirst}}</td>
            <td>&#8377 {{fine.amount}}</td>
            {% if fine.status %}
                <td><span class="paid">Paid</span></td>
            {% else %}
                <td ><span class="unpaid">Unpaid</span></td>
            {% endif %}
            <td>{{fine.last_date}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <td class="total">Total Fine</td>
            <td class="total">&#8377 {{total}}</td>
        </tr>
    </table>
    {% else %}
    <h1 class="nofine">You have no fine yet.</h1>
    {% endif %}

</div>
{% endblock %}